// Variables

$offwhite: #FDFDFD;
$black: #000000;

// Mixins

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

// Main code

a {
	
	// Typography
	
	color: $offwhite;
	font-size: 1.75em;
	font-family: 'Courier New', monospace;
	text-align: center;
	font-weight: bold;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

img {
	
	border: 2px solid $offwhite;
	box-shadow: 1px 1px 6px $black;
	
	max-width: 90%;
	max-height: 85vh;
    height: auto;
	
	margin-left: auto;
	margin-right: auto;
	
}
