// Mixins

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

// Main code

* {
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
	
	background-color: #2F2F2F;
	
	@include flexbox();
	flex-flow: column nowrap;
	row-gap: 50px;
	
	padding-top: 50px;
	padding-bottom: 50px;
	
}

a {

	color: #FDFDFD;
	font-size: 1.75em;
	font-family: 'Courier New', monospace;
	text-align: center;
	font-weight: bold;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

img {
	
	border: 2px solid #dddddd;
	box-shadow: 1px 1px 6px #000000;
	
	max-width: 90%;
    height: auto;
	margin-left: auto;
	margin-right: auto;
	
}
