// Variables

$offwhite: #FDFDFD;

$offblack: #2F2F2F;
$nearblack: #111111;
$black: #000000;

// Mixins

@mixin flexbox() {

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
}

// Main code

main {

	margin-left: auto;
	margin-right: auto;
	width: 95%;
	
	@include flexbox();
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 10px 10px;
	
}

footer {

	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

// Typography

p {

	text-align: center;
	margin-bottom: 5px;
	
}

p,
a {
	
	color: $offwhite;
	font-size: 1em;
	font-family: 'Courier New', monospace;
	
}

.imagebox {
	
	position: relative;
	z-index: 1;
	
	width: 200px;
	height: 200px;
	
	background-size: cover;
	background-position: top;
	background-color: $offblack;
	
	border: 2px solid $nearblack;
	box-shadow: 1px 1px 6px $black;
	filter: grayscale(100%);
	
	-webkit-transition: 0.25s;
	transition: 0.25s;
	
	&:hover {
	
		transform: scale(1.2, 1.2);
		-webkit-transition: 0.1s;
		transition: 0.1s;
		border: 2px solid $offwhite;
		filter: grayscale(0%);
		z-index: 100;
		
	}
	
}